@import '../../../fontcolors.scss';
.Bar {

        .navigations{
           background-color: $ciel;
           #navs{
               display: flex;
           }
           ul{
            li{
                list-style-type: none;
                padding: 10px 20px 10px 20px;
                .link{
                    color: gray;
                }
                .link:hover{
                    cursor: pointer;
                    color: black;
                }
                .active{
                    color: black;
                }
            }
        
         }
        }
        
}