 @import '../../../fontcolors.scss';
.cards {
    width: 100%;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
    .content{
        display: flex;
        justify-content: center;
    }
    .row{
        width: 80%;  
    }
    h2{
        text-align: center;
        margin: 0px 0px 30px 0px;
        color: $secondary-color;
    }
    .col{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    
    .card{
        width:10rem;
        border-color:black; 
        border-width: 3px;
        border-radius: 7px; 
    }
    .cardTitle,.cardText{
        font-size: 20px;
        text-align: center;
    }
    .cardTitle{
        color:$primary-color;
    }
}