
@import '../../../fontcolors.scss';

.blue{
    color:$primary-color;
}
.blue:hover{
    cursor: pointer;
}
.MarketList {
    
    background-color: $primary-color;
    overflow: hidden;
    padding: 30px;
    
    .col{
        display: flex;
        justify-content: center;
    }
    .card{
        border-color: black;
        border-width: 2px;
        margin-top: 30px;
        width: 80%;
        .img{
            height:160px;
        }
    }
    .card-body{
        padding: 0%;
    }
    .donators{
        display:flex;
        justify-content: space-between;
    }
    .category{
        font-size: 12px;
      
        
    }
    .price{
        font-size: 12px;
      
        
    }
    p,a{
        font-size: 12px;
    }
    
    .donator,.don{
        margin: 0px 5px 0px 5px;
    }
    .parag{
        width: 90%;
    }
    .parag::-webkit-scrollbar{
        display: none;
    }
    .btn{
        background-color: $primary-color  ;
        border-color: $primary-color;
        margin-bottom: 5px;
    }
    .btn:hover{
        background-color: $secondary-color  ;
        border-color: $secondary-color;
    }
    .pagination{
        display: flex;
        justify-content: center;
        padding: 30px;
    }
    

}
.introo{
    padding-left: 30px;
    padding-right: 30px;
   
   display: flex;
   justify-content: space-between;
   @media screen and (max-width:500px){
       //padding-top: 11vh;
       display: block;;
   }
   .btn{
    background-color: $primary-color;
    border-color: $primary-color;
   }
   .div1{
    @media screen and (max-width:500px){
        width: 100%;
    }
    .show{
        #dropdowntoggle{
            background-color: $secondary-color;
            border-color: $secondary-color;
        }
    }
    .div2{
        display: flex;
         max-height: 40px;
         margin: 5px;
         .btn:hover{
             background-color: $secondary-color;
             border-color: $secondary-color;
         }
        
    }
    .btn-group{
        margin: 5px;
    }
    #dropdowntoggle{
        background-color: $primary-color;
        border-color: $primary-color;
    }
   
   }
}
