@import '../../../fontcolors.scss';

.intro{
   padding-top:15vh;
   padding-left: 30px;
   padding-right: 30px;
   display: flex;
   justify-content: space-between;
   @media screen and (max-width:500px){
       padding-top: 11vh;
       display: block;;
   }
   .div1{
    @media screen and (max-width:500px){
        width: 100%;
    }
    .show{
        #dropdowntoggle{
            background-color: $secondary-color;
            border-color: $secondary-color;
        }
    }
   }
   .div2{
       display: flex;
        max-height: 40px;
        margin: 5px;
   }
   .btn-group{
       margin: 5px;
   }
   #dropdowntoggle{
       background-color: $primary-color;
       border-color: $primary-color;
   }
}