@import '../../../fontcolors.scss';
.Carbon {
    overflow: hidden;
    background-color: $primary-color;
    padding: 30px 0px 30px 0px;
    .carbonCredit{
        display: flex;
        justify-content: space-between;
        margin: 30px 0 30px 0;
        @media screen and (max-width: 991px) {
            display: block;
            margin: 30px 0px 30px 0px;
        }
    }
    .carbonimg{
        margin: 0 20px 0 20px;
        min-width: 40%;
        display: flex;
        justify-content: center;  
        align-items: center; 
        img{
            border-radius: 10px;
        }
        @media screen and (max-width: 991px) {
            display: flex;
            justify-content: center;
            width: auto;
        }
    }
    .carbonText{ 
        color: $whiteColor;
        display: flex;
        justify-content: center;
        @media screen and (max-width: 991px) {
            width: 100%;
        }
        .projectText{
            padding:30px;
            text-align: center;
            p {
                text-align: left;
            }
        }
        .carbonButton{
            margin: 20px 0px 20px 0px;
            display : flex;
            justify-content: center;
            align-items: center;
            .btn{
                background-color: $button;
                border-color: $button;
                margin: 0px 30px 0px 30px;
                padding: 5px 30px 5px 30px;
                color: $blackColor;
                @media screen and (max-width:440px) {
                    margin: 10px;
                    padding : 5px 5px 5px 5px;
                }
            }
            .btn:hover{
                background-color: $secondary-color;
                border-color: $secondary-color;
                color: $blackColor;
                color: $whiteColor;
            }
        }
    }
}
